.THIS .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.THIS .footer-box {
  background-color: #011e41;
  width: 100%;
  padding: 1rem;
}

.THIS .footer-container {
}

/* desktop view */
@media only screen and (min-width: 1367px) {
  .THIS .image-size {
    height: 70px;
  }
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 813px) and (max-device-width: 1366px) {
  .THIS .image-size {
    height: 60px;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 812px) {
  .THIS .image-size {
    height: 50px;
  }
}