.THIS .text-blue{
    color: #203366;
}
.THIS .header-text {
    font-size: 32px;
}
.THIS .box-div {
    background-color: #E7EAEC;
    border: none;
}
.THIS .year-font {
    font-size: 24px;
}
.THIS .position-relative {
    position: relative;
}
.THIS .text_centered {
    text-align: center;
}
@media only screen and (max-width: 768px) {
    .THIS div#container_top {
        flex-direction: column;
    }
    .THIS p#year {
        padding-bottom: 1.5rem;
    }
    .THIS div#row, .THIS p#year {
        display: flex;
    	justify-content: center;
    	align-content: center;
    	align-items: center;
    	margin: auto;
    }
}