.THIS .showToggle{
    font-size: 11px !important;
}
.THIS .showAnchor{
    
padding: 14px 16px;color: black;font-size: 17px;font-size: 11px !important;text-decoration:none;
}

.THIS .headerInnerBar {
    display: None;
    
}

.THIS .headerBar {
    display: block;
}

.THIS .headerInnerBarMobile {
    display: None;
    width:0px;
}

@media only screen and (max-width: 1024px) {
    .THIS .headerBar {
    display: None;
	}
    .THIS .headerInnerBar {
        display: block;
        /*width:930px;*/
        
    }
    
    .THIS .headerInnerBarMobile {
        display: block;
        width:960px;
    }
    .THIS .headerstyle{
        justify-content: flex-end;display: flex;
    }
    
  
}


@media only screen and (max-width: 768px) {
    .THIS .headerBar {
    display: None;
	}
    .THIS .headerInnerBar {
        display: block;
        /*width:671px;*/
        
    }
    
    .THIS .headerInnerBarMobile {
        display: block;
        width:700px;
    }
    
    .THIS .headerstyle{
        justify-content: flex-end;display: flex;
    }
    
  
}

@media only screen and (max-width: 767px) {
    .THIS .headerBar {
    display: None;
	}
    .THIS .headerInnerBar {
        display: block;
       
    }
    
    .THIS .headerInnerBarMobile {
        display: block;
        width:343px;
        
    }
    .THIS .headerstyle{
        justify-content: flex-end;display: flex;
    }
 
}
    
@media only screen and (max-width: 375px) {
    .THIS .headerBar {
    display: None;
	}
    .THIS .headerInnerBar {
        display: block;
       
    }
    
    .THIS .headerInnerBarMobile {
        display: block;
        width:296px;
        
    }
    .THIS .headerstyle{
        justify-content: flex-end;display: flex;
    }
}

@media only screen and (max-width: 320px) {
    .THIS .headerBar {
    display: None;
	}
    .THIS .headerInnerBar {
        display: block;
       
    }
    
    .THIS .headerInnerBarMobile {
        display: block;
        width:261px;
        
    }
    .THIS .headerstyle{
        justify-content: flex-end;display: flex;
    }
  
}


.THIS .button {
     display: inline-block;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    text-align: center;
    padding: 6px;
    width: 118px;
    transition: all .5s;
    cursor: pointer;
    font-size: 16px;
}


.THIS .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}