.THIS.look
{
    position: relative;
    background-color: rgb(231, 234, 236, 1);
    padding: 0em 1.5em;
    width: 100%;
    min-height: 7vw;
    display: flex;
    flex-direction: column;
}

.THIS .text-look
{
    font-size: 16px;
    font-family: Muli;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: .5em;
}

.THIS .lm-look
{
    font-weight: bold;
}
.THIS img 
{
    padding-right: 5px;
    display:inline-block;
}
.THIS p 
{
    display:inline-block;
    color: #7FB0CC;
}

.THIS .image-div-look
{
    position: absolute;
    left: -49px;
    width: 75px;
}

.THIS .image-look
{
    max-width: initial;
}


@media only screen and  (max-width: 450px) {
    .THIS.look {
        width: 75%;
    }
}