.list{
    max-height: 20vh;
}

.list-item{
    border-top: 1px solid rgb(221, 219, 218);
    padding: 3px 3px;
}

.list-item:hover{
    background-color: rgb(216, 237, 255);
    cursor: pointer;
}

.list-last{
    border-bottom: 1px solid rgb(221, 219, 218);
}

.center-vertical{
    margin-top: 20%;
}