.THIS.slds-spinner_container{
    background: none;
}
.THIS .reply-email-chexbox{
    width: 45px;
}
.THIS .reply-email-input{
    margin-top: -19px;
}
.THIS .milestone-checkbox{
    margin-top: 17px;
}