@font-face
{
    font-family: "Muli-Bold";
    src: url('{!URLFOR($Resource.DSF_Resources, "/Fonts/Muli/Muli-Bold"') format('true-type');
}

@font-face
{
    font-family: "Muli";
    src: url('{!URLFOR($Resource.DSF_Resources, "/Fonts/Muli/Muli-Regular"') format('true-type');
}

.THIS.look
{
    width: 95%;
    padding: 2vh;
}

.THIS .button-look
{
    background-color: #E76E24;
    width: 311px;
    padding: 20px;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    justify-content: center;
    border-radius: 0;
	margin-top: 2vh;
	margin-bottom: 2vh;
}

.THIS .text-look
{
    height: 44px;
    color: #574F49;
    font-family: Muli;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    padding: 20px;
}

.THIS a
{
    text-decoration: none;
}

@media only screen and  (max-width: 450px) {
    .THIS.look {
        padding: 0;
    }
    .THIS .text-look {
        padding: 0;
    }
	.THIS .button-look {
		width: auto;
		padding: 2vh 3vh;
	}
}
@media only screen and  (max-width: 800px) {
    .THIS.look {
        padding: 0;
    }
    .THIS .text-look {
        padding: 0;
    }
}