.THIS {
  font-family: 'Roboto-Light';
}

@font-face{
  font-family: 'Roboto-Light';
  src:url(/resource/Roboto/Roboto-Light.ttf);
}

@font-face{
  font-family: 'Roboto-Bold';
  src:url(/resource/Roboto/Roboto-Bold.ttf);
}

/* width */
.THIS ::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.THIS ::-webkit-scrollbar-track {
  background: rgb(203,203,203);
  border-radius: 8px;
}

/* Handle */
.THIS ::-webkit-scrollbar-thumb {
  background: rgb(241,241,241);
  border-radius: 5px;
}

.THIS.home-greeting {
  font-size: 1.9rem;
  padding: 15px 30px;
}

.THIS.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}

.THIS.widgets-container{
  display: grid;
  padding: 0 25px;
  margin-bottom: 40px;
  /* grid-template-columns: repeat(3, minmax(250px, 1fr)); */
  grid-template-columns: 320px 320px 450px;
  grid-template-rows: repeat(4, minmax(250px, 320px));
  grid-column-gap: 25px;
  grid-row-gap: 20px;
  grid-template-areas:
    "box1 box1 box2"
    "box3 box4 box2"
    "box5 box6 box6"
    "box7 box6 box6";
}

.THIS .widget{
  background-color: white;
  border-radius: 12px;
  padding: 15px 30px;
}

.THIS.THIS.widgets-container .box1 {
  grid-area: box1;
}
.THIS.THIS.widgets-container .box2 {
  grid-area: box2;
}
.THIS.THIS.widgets-container .box3 {
  grid-area: box3;
}
.THIS.THIS.widgets-container .box4 {
  grid-area: box4;
}
.THIS.THIS.widgets-container .box5 {
  grid-area: box5;
}
.THIS.THIS.widgets-container .box6 {
  grid-area: box6;
}
.THIS.THIS.widgets-container .box7 {
  grid-area: box7;
}

.THIS.scroll-top-button{
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(128,128,128); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  /* font-size: 18px;  */
}

.THIS.popup-container{
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10000;
}

.THIS .iframe-container{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
}

.THIS .iframe-spinner{
  z-index: -1;
}

.THIS .white-background{
  /* background-color: white; */
}

.THIS.mascot-image{    
  position: fixed;
  bottom: 120px;
  right: -95px;
  height: 150px;
  transform: scaleX(-1) rotate(-320deg);
  cursor: pointer;
}

.THIS.mascot-image:hover{
  transform: scaleX(-1) rotate(-320deg) scale(1.1);
  -webkit-transform: scaleX(-1) rotate(-320deg) scale(1.1);
}



.THIS.chat-mascot-container{
  position: fixed;
  bottom: 270px;
  right: 10px;
  display: flex;
  flex-direction: column;
}

.THIS .chat-message-box{
  position: relative;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
  background-color: white;
  width: 200px;
  margin: 10px;
  padding: 12px;
  border-radius: 7px;
  font-size: .9rem;
}

.THIS .chat-triangle{
  position: absolute;
  right: 20px;
  bottom: -15px;
  width: 0;
  height: 0;
  border-bottom: 30px solid transparent;
  border-right: 30px solid white;
}

.THIS .chat-mascot-image{
  height: 140px;
}

.THIS .chat-background{
  position: fixed;
  height: 10px;
  width: 190px;
  bottom: 224px;
  right: -427px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: 0 0 400px 444px rgb(0 131 193 / 80%);
  background-color: rgba(0,131,193, 0.8);
  animation: pop 0.5s;
}

@keyframes pop {
  0% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
  }
}

/* .THIS .chat-background-pop{
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transition: transform 300ms cubic-bezier(0, 1.71, 0.73, 1.5) 400ms;
} */