.THIS .comp-look
{
    word-break: break-word;
    white-space: normal;
}

.THIS .table-look
{
    width: 65%;
}

.THIS .col-1 
{
    width: 25%;
}

.THIS .col-2 
{
    width: 20%;
}

.THIS .col-3 
{
    width: 55%;
}

.THIS .text-color
{
    float: left;
    font-weight: bold;
    color: #7FB0CC;
}

.THIS .learn-more-color
{
    font-weight: bold;
    color: #7FB0CC;
}

.THIS a:visited
{
    color: #7FB0CC;
}

.THIS .align-left
{
    padding-left: 0;
}

@media only screen and (max-width: 1024px) 
    {
    .THIS .table-look
    {
        width: 90%;
    }
    
    .THIS .col-1
    {
        width: 100%;
    }
    
    .THIS .col-2 
    {
        width: 100%;
    }
    
    .THIS .col-3 
    {
        width: 100%;
    }
}