.THIS .row-column {
    background-color: #F7F8F9;
    min-height: 35vh;
}
.THIS .bottom-left {
	background-color: #F7F8F9;
	padding-bottom: 15px;
}
@media only screen and  (max-width: 450px) {
    .THIS .wrap {
        flex-wrap: wrap;
        margin-bottom: 0;
    }
    .THIS .slds-size_1-of-2 {
        width:100%;
        margin-left: 0;
        margin-right:0;
        margin-top: 1rem;
        padding-bottom: 1rem;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}