.THIS .map-height{
    background: #f3f2f2;
    border: var(--lwc-borderWidthThin,1px) solid var(--lwc-cardColorBorder,rgb(221, 219, 218));
    border-radius: var(--lwc-borderRadiusMedium,0.25rem);
}
                
.THIS .slds-map_container{
    height: 22rem;
}