.container{
    margin: 0 auto;
    max-width: 30rem;
}

.slds-card{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: rgb(139, 140, 75);
    border-radius: 0px;
    border: none;
    margin-top: 32px;
}

.innerBox{
    background: rgb(227, 227, 227);
    margin-left: 1rem;
    min-height: 100px;
    padding: 1rem;
}

.slds-text-heading_medium{
    font-size: 16px;
}

.slds-text-body_regular{
    margin-top: 8px;
}

.link{
    cursor: pointer;
    color: rgb(139, 140, 75);
    font-style: italic;
}